<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.junyao.back.mapper.BannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="icu.junyao.back.entity.Banner">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="image_url" property="imageUrl" />
        <result column="link_url" property="linkUrl" />
        <result column="sort" property="sort" />
        <result column="is_deleted" property="isDeleted" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_by" property="createdBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, image_url, link_url, sort, is_deleted, created_time, modified_time, created_by, modified_by
    </sql>

</mapper>
